## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [178]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [179]:
# Your code here

# Parametros: busco 80 valores unicos random de una población de 100 enteros que van del 0 al 100
population = [i for i in range(0, 101)]
n_unique_elements = 80

# Uso random.sample con esos parametros
sample_list_1 = random.sample(population, n_unique_elements)

# Muestro el resultado
print(sample_list_1)
print(len(sample_list_1))

[75, 15, 21, 92, 35, 96, 55, 80, 73, 85, 2, 70, 51, 41, 99, 19, 58, 100, 3, 74, 97, 34, 68, 98, 38, 66, 94, 76, 33, 26, 88, 81, 18, 0, 56, 54, 82, 43, 90, 9, 48, 89, 71, 42, 84, 23, 16, 78, 79, 22, 29, 8, 30, 60, 40, 4, 93, 65, 47, 28, 5, 72, 69, 12, 49, 31, 27, 86, 7, 44, 61, 63, 46, 59, 77, 95, 87, 11, 13, 6]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [180]:
# Your code here
set1 = set(sample_list_1)

# El numero de elementos sigue siendo 80
print(set1)
print(len(set1))

{0, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 15, 16, 18, 19, 21, 22, 23, 26, 27, 28, 29, 30, 31, 33, 34, 35, 38, 40, 41, 42, 43, 44, 46, 47, 48, 49, 51, 54, 55, 56, 58, 59, 60, 61, 63, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99, 100}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [181]:
# Your code here
sample_list_2 = [random.randint(0, 100) for i in range(80)]

print(sample_list_2)
print(len(sample_list_2))

[0, 42, 35, 48, 44, 14, 79, 71, 95, 59, 24, 94, 47, 62, 0, 70, 80, 74, 8, 55, 70, 74, 88, 67, 76, 24, 27, 0, 25, 75, 39, 11, 41, 13, 17, 87, 2, 38, 45, 6, 14, 82, 30, 62, 19, 20, 26, 4, 42, 16, 2, 50, 17, 60, 82, 67, 15, 89, 3, 93, 38, 59, 87, 23, 93, 24, 56, 13, 100, 10, 7, 88, 90, 68, 12, 7, 77, 92, 33, 89]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [182]:
# Your code here
set2 = set(sample_list_2)

# En este caso, el número de elementos del set2 no es 80
print(set2)
print(len(set2))

{0, 2, 3, 4, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 23, 24, 25, 26, 27, 30, 33, 35, 38, 39, 41, 42, 44, 45, 47, 48, 50, 55, 56, 59, 60, 62, 67, 68, 70, 71, 74, 75, 76, 77, 79, 80, 82, 87, 88, 89, 90, 92, 93, 94, 95, 100}
59

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [183]:
# Your code here
set3 = set([i for i in set1 if i not in set2])

print(set3)
print(len(set3))

{5, 9, 18, 21, 22, 28, 29, 31, 34, 40, 43, 46, 49, 51, 54, 58, 61, 63, 65, 66, 69, 72, 73, 78, 81, 84, 85, 86, 96, 97, 98, 99}
32

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [184]:
# Your code here
set4 = set([i for i in set2 if i not in set1])

print(set4)
print(len(set4))

{67, 39, 10, 45, 14, 17, 50, 20, 24, 25, 62}
11

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [185]:
# Your code here
set5 = set([i for i in set1 if i in set2])

print(set5)
print(len(set5))

{0, 2, 3, 4, 6, 7, 8, 11, 12, 13, 15, 16, 19, 23, 26, 27, 30, 33, 35, 38, 41, 42, 44, 47, 48, 55, 56, 59, 60, 68, 70, 71, 74, 75, 76, 77, 79, 80, 82, 87, 88, 89, 90, 92, 93, 94, 95, 100}
48

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [195]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))


print(len(set2) == len(set4) + len(set5))

63
59
32
11
48

True

#### Create an empty set called `set6`.

In [187]:
# Your code here
set6 = set()
print(type(set6))
print(set6)

<class 'set'>
set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [188]:
# Your code here
set6.update(set3, set5)
set6

{0,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 11,
 12,
 13,
 15,
 16,
 18,
 19,
 21,
 22,
 23,
 26,
 27,
 28,
 29,
 30,
 31,
 33,
 34,
 35,
 38,
 40,
 41,
 42,
 43,
 44,
 46,
 47,
 48,
 49,
 51,
 54,
 55,
 56,
 58,
 59,
 60,
 61,
 63,
 65,
 66,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100}

#### Check if `set1` and `set6` are equal.

In [189]:
# Your code here
print("Son iguales!" if set1 == set6 else "No son iguales")

Son iguales!

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [190]:
# Your code here
print("Todos los elementos de set2 estan contenidos en set1" if set2.issubset(set1) else "set2 no es un subset de set1")
print("Todos los elementos de set3 estan contenidos en set1" if set3.issubset(set1) else "set3 no es un subset de set1")

set2 no es un subset de set1
Todos los elementos de set3 estan contenidos en set1

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [191]:
# Your code here
union_set = set3.union(set4)
union_set = union_set.union(set5)
union_set = union_set.union(set1)
union_set = union_set.union(set2)

print(union_set)
print(len(union_set))

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 34, 35, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 54, 55, 56, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99, 100}
91

#### Using the `pop` method, remove the first element from `set1`.

In [192]:
# Your code here
print(type(set1))
# There is no way to remove the "first element" from a set.
# The pop method removes a random element from the set.
help(set.pop)

<class 'set'>
Help on method_descriptor:

pop(...)
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [193]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

print(f"Antes de quitar elementos el tamaño de set1 es: {len(set1)}")

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
        
print(f"Despues de quitar elementos el tamaño de set1 es: {len(set1)}")

Antes de quitar elementos el tamaño de set1 es: 80
Despues de quitar elementos el tamaño de set1 es: 63